* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

/* adjusting fonts */

body {
	font-family: -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
	transition: background 500ms ease;
	background-color: #C5F4AF;
}

p, li {
	font-size:  12px;
	line-height: 15px;
}

/* adjusting spacing */

#left-column {
	padding: 20px;
}

h1, p {
	margin-bottom:  45px;
}

/* ul, ol {
	margin-left: 20px;
} */

img {
	max-width: 50%;
	height:  auto;
}

button {
	margin-left: 20px;
}
/* uncomment the code below to set the grid */

#grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #C5F4AF;
}*